* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

.navbar {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  margin-top: 45px;
  margin-left: 40px;
}

.card--img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card--text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--uppertext {
  display: flex;
  margin-bottom: 0;
}

.card--icon--location {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.card--location {
  margin-top: 0;
  margin-left: 4px;
  margin-right: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.card--link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.card--lowertext {
  margin-left: 20px;
}

.card--sight {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 0;

}

.card--p1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin-top: 0;
}

.card--p2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
  margin-top: 0;
}
